.image-aboutus-banner {
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* background-position-y: -200px !important; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 110px;
  padding-bottom: 110px;
}

.image-aboutus-sm-banner {
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
#contact h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 2em;
}

section {
  padding: 60px 0;
}

.section-bg {
  background-color: #d8f7f3;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title p {
  margin-bottom: 0;
}
.about .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

.about .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.about .icon i {
  color: #303030;
  font-size: 42px;
}

.about .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.about .title a {
  color: #303030;
  transition: 0.3s;
}

.about .description {
  line-height: 24px;
  font-size: 14px;
}

/* .navbar */
.navbar {
  padding-left: 4em;
  padding-right: 4em;
}
@media screen and (max-width: 700px) {
  .navbar {
    padding-left: 2em;
    padding-right: 2em;
  }
}
.navbar li a {
  padding-right: 2em !important;
}

.navbar-brand img {
  width: 6em;
}

@media screen and (max-width: 700px) {
  .navbar-brand img {
    width: 5em;
  }
}
/* .navbar */
