.g-bg-white {
  background-color: #fff !important;
}
.u-shadow-v18 {
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.img-fluid {
  width: 4em !important;
  padding-top: 2em !important;
}
h4 {
  padding-bottom: 2em;
}
.navbar {
  padding-left: 4em;
  padding-right: 4em;
}
.available-tech {
  margin-top: 4em;
  margin-bottom: 4em;
}
@media screen and (max-width: 700px) {
  .navbar {
    padding-left: 2em;
    padding-right: 2em;
  }
}
.navbar li a {
  padding-right: 2em !important;
}

.navbar-brand img {
  width: 6em;
}
